.bgBanner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0;
    
    @media (min-width: 992px) {
        min-height: 519px;
    }
}

.banneData {
    padding-top: 120px;
    padding-bottom: 20px;
    h1 {
        font-size: 3rem;
        font-weight: 600;
        color: #ffffff;
        padding: 0 0 20px;
        line-height: 1;
        margin: 0;
        max-width: 75%;

    }

    p,
    .bannerDesc {

        font-size: 1.25rem;
        font-weight: 400;
        color: #ffffff;
        line-height: 1.2;
        margin: 0;
        padding: 0;
    }
}